[submodule "appformer-js"]
	path = appformer-js
	url = https://github.com/kiegroup/appformer-js.git
	branch = master
	ignore = all
[submodule "appformer"]
	path = appformer
	url = https://github.com/kiegroup/appformer
	branch = master
	ignore = all
[submodule "errai"]
	path = errai
	url = https://github.com/errai/errai
	branch = master
	ignore = all
[submodule "kie-soup"]
	path = kie-soup
	url = https://github.com/kiegroup/kie-soup
	branch = master
	ignore = all
[submodule "droolsjbpm-build-bootstrap"]
	path = droolsjbpm-build-bootstrap
	url = https://github.com/kiegroup/droolsjbpm-build-bootstrap
	branch = master
	ignore = all
[submodule "droolsjbpm-knowledge"]
	path = droolsjbpm-knowledge
	url = https://github.com/kiegroup/droolsjbpm-knowledge
	branch = master
	ignore = all
[submodule "drlx-parser"]
	path = drlx-parser
	url = https://github.com/kiegroup/drlx-parser
	branch = master
	ignore = all
[submodule "drools"]
	path = drools
	url = https://github.com/kiegroup/drools
	branch = master
	ignore = all
[submodule "optaplanner"]
	path = optaplanner
	url = https://github.com/kiegroup/optaplanner
	branch = master
	ignore = all
[submodule "jbpm"]
	path = jbpm
	url = https://github.com/kiegroup/jbpm
	branch = master
	ignore = all
[submodule "droolsjbpm-integration"]
	path = droolsjbpm-integration
	url = https://github.com/kiegroup/droolsjbpm-integration
	branch = master
	ignore = all
[submodule "kie-uberfire-extensions"]
	path = kie-uberfire-extensions
	url = https://github.com/kiegroup/kie-uberfire-extensions
	branch = master
	ignore = all
[submodule "kie-wb-playground"]
	path = kie-wb-playground
	url = https://github.com/kiegroup/kie-wb-playground
	branch = master
	ignore = all
[submodule "kie-wb-common"]
	path = kie-wb-common
	url = https://github.com/kiegroup/kie-wb-common
	branch = master
	ignore = all
[submodule "drools-wb"]
	path = drools-wb
	url = https://github.com/kiegroup/drools-wb
	branch = master
	ignore = all
[submodule "optaplanner-wb"]
	path = optaplanner-wb
	url = https://github.com/kiegroup/optaplanner-wb
	branch = master
	ignore = all
[submodule "jbpm-designer"]
	path = jbpm-designer
	url = https://github.com/kiegroup/jbpm-designer
	branch = master
	ignore = all
[submodule "jbpm-wb"]
	path = jbpm-wb
	url = https://github.com/kiegroup/jbpm-wb
	branch = master
	ignore = all
[submodule "kie-wb-distributions"]
	path = kie-wb-distributions
	url = https://github.com/kiegroup/kie-wb-distributions
	branch = master
	ignore = all
[submodule "lienzo-core"]
	path = lienzo-core
	url = https://github.com/kiegroup/lienzo-core.git
	branch = master
	ignore = all
